extends layout

block content
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.min.js")
  div.container.center-div
    div.text-align-center
      h1= title
      p Welcome to #{title}
      div.center-div.message
        p.alert.alert-info #{message}
    div#users-container
  script(type='text/javascript', src="javascripts/index.js")
    