extends layout

block content
  .main.container
    style(type="text/css").
      span.focus-input100::after {
        top: -20px ;
      }
      label.radio-inline {
        margin: 0 8px;
      }
      input[type="radio"] {
        vertical-align: baseline;
        display: inline;
        width: 20px;
        height: 15px;
      }
      #login, .login100-register {
        display: none;
      }
      #login, #sign-up {
        text-align: center;
        margin: 8px;
        color: #a64bf4;
      }
    link(type="text/css", rel="stylesheet", href='https://colorlib.com/etc/lf/Login_v2/css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:700,600', rel='stylesheet', type='text/css')
    if message
      div.center-div.message
        p.alert.alert-info #{message}
    .limiter
      .container-login100
        .wrap-login100
          form.login100-form.validate-form(method='post', action='/user/login')
            span.login100-form-title.p-b-26
              | School of Future
            span.login100-form-title.p-b-26
              | &nbsp;
            span.login100-form-title.p-b-48
              i.zmdi.zmdi-font
            .wrap-input100.validate-input(data-validate='Valid email is: a@b.c')
              input.input100(type='text', name='email')
              span.focus-input100(data-placeholder='Email')
            .wrap-input100.validate-input(data-validate='Enter password')
              span.btn-show-pass
                i.zmdi.zmdi-eye
              input.input100(type='password', name='password')
              span.focus-input100(data-placeholder='Password')
            input.email(type='hidden', name='redirect', value=redirect)
            .container-login100-form-btn
              .wrap-login100-form-btn
                .login100-form-bgbtn
                button.login100-form-btn
                  | Login
          
          form.login100-register.validate-form(method='post', action='/user/register')
            span.login100-form-title.p-b-26
              | School of Future
            span.login100-form-title.p-b-26
              | &nbsp;
            span.login100-form-title.p-b-48
              i.zmdi.zmdi-font
            .wrap-input100
              input.input100(type='text', name='firstName')
              span.focus-input100(data-placeholder='First Name')
            .wrap-input100
              input.input100(type='text', name='lastName')
              span.focus-input100(data-placeholder='Last Name')
            .wrap-input100.validate-input(data-validate='Valid email is: a@b.c')
              input.input100(type='text', name='email')
              span.focus-input100(data-placeholder='Email')
            .wrap-input100.validate-input(data-validate='Enter password')
              span.btn-show-pass
                i.zmdi.zmdi-eye
              input.input100(type='password', name='password')
              span.focus-input100(data-placeholder='Password')
            .wrap
              label.radio-inline
                input.input100(type='radio', name='userType', value="0") 
                | Volunteer
              label.radio-inline
                input.input100(type='radio', name='userType', value="1") 
                | Student
            input.email(type='hidden', name='redirect', value=redirect)
            .container-login100-form-btn
              .wrap-login100-form-btn
                .login100-form-bgbtn
                button.login100-form-btn
                  | Register        
          a(href='#')
            #login Login
          a(href='#')
            #sign-up Don't have an account?  Sign Up
    //p
      | Forgot your password? 
      u(style='color:#f1c40f;') Click Here!
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js', type='text/javascript')
    script(type='text/javascript').
      function field_focus(field, email) {
        if(field.value == email) {
          field.value = '';
        }
      }
      function field_blur(field, email) {
        if(field.value == '') {
          field.value = email;
        }
      }
      //Fade in dashboard box
      $(document).ready(function(){
        $('.box').hide().fadeIn(1000);
      });
      //Stop click event
      $('a').click(function(event){
        event.preventDefault();
      });

      $('#sign-up').click(function(event){
        $('.login100-form').hide();
        $('#sign-up').hide();
        $('.login100-register').show();
        $('#login').show();
      });
      $('#login').click(function(event){
        $('.login100-register').hide();
        $('.login100-form').show();
        $('#sign-up').show();
        $('#login').hide();
      });


