extends layout

block content
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
  link(href='//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap-responsive.min.css', rel='stylesheet')
  link(rel="stylesheet", href="/stylesheets/student.css")
  script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/interactjs@next/dist/interact.min.js")

  div.container.center-div
    div.text-align-center
      h1= title
      p Welcome to #{title}
      div.center-div.message
        p.alert.alert-info #{message}

  //#no-drop.drag-drop  #no-drop 
  //#yes-drop.drag-drop  #yes-drop 
  //#outer-dropzone.dropzone
  //  | #outer-dropzone
  //  #inner-dropzone.dropzone #inner-dropzone

  .container
    .row
      .col-sm-8
        div.center-div
          .row
            h3.col-sm-12 Ikigai: The Purpose Principle
          div.row
            .wrap.form-group.col-sm-6.col-md-12.js-input-fields
              if user.ikigaiObj
                button.btn.btn-primary.js-tryagain Try again
              label.enter-skills(class=typeof user.ikigaiObj === "undefined" || user.ikigaiObj == null ? "" : "hide") Type your skills that fits IKIGAI principle & press Enter
                input#skills-target.form-control.sof-skills(type='text', name='skills')
              button.btn.btn-primary.js-showSecond.enter-skills(class=typeof user.ikigaiObj === "undefined" || user.ikigaiObj == null ? "" : "hide") Next Step
            .col-sm-12
              #pickup.wrap.form-group
              br
              br
            .col-sm-12
              img(src="https://purposeprinciplespassion.files.wordpress.com/2015/10/ikigai_graph_jpg.jpg")

        .row-fluid.second-step
          .span7
            label Drag your skills in the circles.
            .venn-container
              .venncirctop.dropzone( data-class="skills-you-love")
                a.venntxttop(href='#') What you love
              .venncirclft.dropzone( data-class="skills-you-are-good-at")
                a.venntxtlft(href='#') What you're good at
              .venncircrt.dropzone( data-class="skills-the-world-needs")
                a.venntxtrt(href='#') What the world needs
              .venncircbtm.dropzone( data-class="skills-you-can-be-paid-for")
                a.venntxtbtm(href='#') What you can be paid for
          input#userId.form-control(type='hidden', name='id', value=user.id)
          button#saveButton.btn.btn-primary(type="submit") Submit test
      .col-sm-4
        h4 Test Results
        .js-results.table-responsive
  script.
    var ikigaiObj = !{JSON.stringify(user.ikigaiObj)} || {};
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js")
  script(type="text/javascript", src="/javascripts/student.js")

