
block content
  .row
    ul.list-group
      for user in users
        li.list-group-item
          h4 #{user.firstName} #{user.lastName}, #{user.email}  
          if user.ikigaiObj
            each obj, index in user.ikigaiObj
              ul.list-group
                b.skills #{index.split('-').join(' ')}: 
                for sk in obj
                  li.dropdown #{sk}
          else
            | No Test taken