body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center-div {
	margin: 0 auto;
    width: 60%;
}
.text-align-center {
	text-align: center;
}

.center-div.message {
	width: 300px;
}
.center-div.message.alert{
	padding: 6px;
}

.checkbox-inline, .radio-inline{
	line-height: 40px;
    padding-left: 30px;
}

.dropdown {
	margin-left: 30px;
   	/*float: left;*/
}
.skills{
	text-transform: capitalize;
}